/* 
    Created on  : Nov 17, 2017, 9:36:38 PM
    Author      : HUMPL MARCO
    Layout      :

                    1.  fonts
                    2.  body
                    3.  layouts
                    4.  custom classes
                    5.  div specific classes
                    6.  page specific styles
*/

/*              1.fonts                                 */

@font-face { 
    font-family: 'meine-schrift';
    src: url('pfad/zu/meinerschrift.ttf') format('truetype');
}

a {
    color: black;
    text-decoration: none;
}

button {
    background-color: white;
    color: black;
    border: 0px solid white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    font-size: 102.5%;
}

button:hover {background-color:#C8F9C6; border-radius: 25px; cursor: pointer;}

/*              2.body                                  */

html { overflow-y: scroll; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; margin-bottom: 0px;}
.group { display: inline-block; clear: both; margin-bottom: 0px;}
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {
    font-family: "Calibri", arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#mainFrame {
    width: 100%;
    height: 100%;
    color: black;
    padding-right: 0px;
    padding-left: 0px;
}

#header {
    width: 100%;
    height: 120px;
    background-color: white;
    color: black;
    float: left;
    border-bottom: 1px solid #cdd3ce;
}

#navigation-menu {
    width: 100%;
    height: 55px;
    background-color: white;
    color: black;
    padding-top: 1px;
    float: left;
    background-color: white;
    border-top: 0px solid black;
    border-bottom: 1px solid #cdd3ce;
}

#main-content {
    width: 70%;
    height: 500px;
    background-color: white;
    color: black;
    float: right;
}

#content {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 172px;
    color: black;
    float: left;
    background-color: #C8F9C6;
}

#footer {
    width: 100%;
    height: 0px;
    background-color: white;
    color: black;
    float: left;
}

/*              3.layouts                               */

/*              3.1.menu bar                            */

nav {
    border-bottom: 1px solid #cdd3ce;
}

nav ul { 
    list-style: none;
    width: auto;
    heigth: 50px;
    background-color: white;
    border: 0px solid black;
    margin-left: 17.5%;
    margin-right: auto;
    background-color: white;
    color: black;
    margin-top: 2px;
}


nav ul li a {
    width: 12.5%;
    height: 50px;
    float: left;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
    color: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

nav ul li a:hover {
    background-color: #C8F9C6; 
    overflow: hidden;
}	

nav ul li a.current {
    width: 12.5%;
    height: 50px;
    float: left;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
    color: white;
    background-color: #429b59;
}

nav ul li a:active{
    width: 12.5%;
    height: 50px;
    float: left;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
    color: white;
    background-color: #C8F9C6;
}
/*              3.2.dropdown menu                      */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #AFEEAC;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

/*              3.2.header image                         */

#header-image {
    width: 100%;
    height: 120px;
    background-color: white;
    color: black;
    border-bottom: 1px solid #cdd3ce;
}

/*              3.3.main content text                            */

#main-content-text {
    width: 60%;
    height: auto;
    float: right;
    margin-top: 30px;
    font-size: 140%;

}

/*              3.3.content text                            */

#content-text {
    width: 60%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 25px;
    font-size: 110%;

}

/*              3.4.content picture                            */

#content-picture {
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    background-image: url("../data/backgrounds/sampleprofile.png");
    background-size: 150px 150px;
}

/*              4.custom classes                        */

/*              5.div specific classes                  */

/*              5.1.main content text                   */



/*              6.page specific styles                  */

.red {
    color: red;
}

#formular {
    height: 800px;
    width: 70%;
    float: left;
    margin-left: 3%;
    margin-right: auto;
    font-size: 140%;
}

.submit {
    height: 40px;
    width: 100px;
    background-color: white;
    color: black;
    border: 1px solid #cdd3ce;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.submit:hover {
    background-color: #C8F9C6; 
    overflow: hidden;
    cursor: pointer;
}

.reset {
    height: 40px;
    width: 100px;
    background-color: white;
    color: black;
    border: 1px solid #cdd3ce;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.reset:hover {
    background-color: #C8F9C6; 
    overflow: hidden;
    cursor: pointer;
}